
<div class="container">
    <div class="jumbotron mt-4">
    <h1 class="display-3">Welcome </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
    </div>
</div>


<% @projects.each do |project| %>
    
    <% @counter += 1 %>
    
        <div class="row justify-content-between">
            <% if ( @counter%2 == 0) %>
                <div class="col-sm">
                    <div class="section-white">
                        <div class='container'>
                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <h4><%= project.name %></h4>
                                    <p><%= project.description %></p>
                                </div>
                                <div class="list-group" style="max-width: 20rem;">
                                <a href="<%= project.site_link %>" 
                                    class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1"><%= project.name %></h5>
                                    <small><%= project.site_link %></small>
                                    </div>
                                    <p class="mb-1"><%= project.description %></p>
                                    <small>NOTE: heroku cloud app could be in snooze state.</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                    <small class="text-muted">Donec id elit non mi porta.</small>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="col-sm">
                    <div class="section-color">
                        <div class='container'>
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="card border-info mb-3" style="max-width: 20rem;">
                                        <div class="card-header"><%= project.name %></div>
                                        <div class="card-body">
                                            <h4 class="card-title">Project Description:</h4>
                                            <p class="card-text"><%= project.description %></p>
                                            <a href="<%= project.site_link %>" class="card-link">Site Link</a>
                                            <a href="#" class="<%= project.git_link %>">Git Link</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <h4><%= project.name %></h4>
                                    <p><%= project.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    
<% end %>
