<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Site link:</strong>
  <%= @project.site_link %>
</p>

<p>
  <strong>Git link:</strong>
  <%= @project.git_link %>
</p>

<% if @project.technologies.any? %>
<p>Technologies: <%= render @project.technologies %> </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
