
<div class="container">
    <div class="jumbotron mt-4">
    <h1 class="display-3">Welcome </h1>
    <p class="lead">This is a simple portfolio page.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <%#image_tag("git-img.png", alt: "Git Graph", hight:450, width:680)%>
    </p>
    </div>
</div>

<div data-spy="scroll" data-target="#navport" data-offset="80px">
<% @projects.each do |project| %>
    
    <% @counter += 1 %>
    
        <div class="row justify-content-between">
            <% if ( @counter%2 == 0) %>
                <div class="col-sm">
                    <div class="section-white">
                        <div class='container'>
                            <div class="row">
                                <div class="col-12 col-md-7">
                                    <h4 id="<%= project.name %>"><%= project.name %></h4>
                                    <p><%= project.description %></p>
                                </div>
                                <div class="col-6 col-md-5">
                                    <div class="list-group" style="max-width: 20rem;">
                                        <a href="<%= project.site_link %>" 
                                            class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1"><%= project.name %></h5>
                                            <small><p class="text-success"><%= project.site_link %></p></small>
                                            </div>
                                            <p class="mb-1"><%= truncate(project.description, escape: false, length: 100, separator: " ",
                                                    omission: '...')  %></p>
                                            <small>NOTE: heroku cloud app could be in snooze state.</small>
                                        </a>
                                        <a href="<%= project.git_link %>" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Technologies:</h5>
                                            <small class="text-muted">3 days ago</small>
                                            </div>
                                            <% if project.technologies.any? %>
                                                <p class="mb-1"><small><%= render project.technologies %></small></p>
                                            <% end %>
                                            <small class="text-muted"><p class="text-success"><%= project.git_link %></p></small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="col-sm">
                    <div class="section-color">
                        <div class='container'>
                            <div class="row">
                                <div class="col-6 col-md-5">
                                    <div class="list-group" style="max-width: 20rem;">
                                        <a href="<%= project.site_link %>" 
                                            class="list-group-item list-group-item-action flex-column align-items-start active">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1"><%= project.name %></h5>
                                            <small><p class="text-success"><%= project.site_link %></p></small>
                                            </div>
                                            <p class="mb-1"><%= truncate(project.description, escape: false, length: 100, separator: " ",
                                                    omission: '...')  %></p>
                                            <small>NOTE: heroku cloud app could be in snooze state.</small>
                                        </a>
                                        <a href="<%= project.git_link %>" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Technologies:</h5>
                                            <small class="text-muted">>></small>
                                            </div>
                                            <% if project.technologies.any? %>
                                                <p class="mb-1"><small><%= render project.technologies %></small></p>
                                            <% end %>
                                            <small class="text-muted"><p class="text-success"><%= project.git_link %></p></small>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <h4 id="<%= project.name %>"><%= project.name %></h4>
                                    <p><%= project.description %></p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    
<% end %>
</div>